
[tool.briefcase]
project_name = "Eoghan Rua Team Selector"
bundle = "ie.eoghanrua"
version = "1.0.0"
url = "https://eoghanrua.ie"
license = "Proprietary"
author = "Eoghan Rua GAA"
author_email = "info@eoghanrua.ie"
description = "Offline team selector app for Eoghan Rua GAA."
formal_name = "Eoghan Rua Team Selector"
app_name = "eoghan_rua_team_selector"


sources = ["eoghan_rua_team_selector"]

[tool.briefcase.app.eoghan_rua_team_selector]
module  = "eoghan_rua_team_selector.app"
icon    = "assets/icon.png"
splash  = "assets/splash.png"
requires = ["toga-ios>=0.4.7","std-nslog>=1.0.0"]
resources = ["assets/crest.png"]

requires = [
    "toga>=0.4.7",
    "rubicon-objc>=0.4.7",
    "XlsxWriter>=3.1.9",
    "Pillow>=10.0.0",
]

[tool.briefcase.app.eoghan_rua_team_selector]
formal_name = "Eoghan Rua Team Selector"
